/*------------------------
    General properties.
------------------------*/

body {    
    width: 100%;
    max-height: 100vh;

    margin: 0;
   
    font-size: 14px;
    font-family: "Calibri";

    background-color: #DDD;
}

@font-face  { 
    font-family: 'Broadway';
    src: url('../fonts/BROADW.TTF');

    font-family: 'Goudy Italic';
    src: url('../fonts/GOUDOSI.TTF');
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}


/*------------------------
    Header properties.
------------------------*/

#site-header {
    display: flex;

    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;
    margin: 0;
    
    background: linear-gradient(135deg, rgb(226, 23, 23) 0%,rgb(243, 38, 38) 18%,rgb(200, 11, 11) 100%);
    border-bottom: 2px solid #FFF;
    box-shadow: 0 3px 3px rgb(146, 135, 135);

    z-index: 10;
}

#site-header h1 {
    margin: 0;
    margin-right: 5%;
    padding-top: 22px;
    padding-left: 5%;

    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-family: 'Broadway';
}

#site-header a, #site-header a:visited {
    color: #FFF;
}


#site-header ul {
    display: flex;

    height: 100%;

    margin: 0;
}

#site-header li {
    width: 110px;
    height: calc(100% - 5px);

    margin-right: -1px;
    padding-bottom: 5px;

    color: #FFF;
    font-size: 1.2rem;

    border-right: 1px solid rgb(255, 122, 122);
    border-left: 1px solid rgb(255, 122, 122);
}

#site-header li:hover {
    background-color: rgb(255, 43, 43);
}

#site-header nav a {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100%;

    background-position: center 15px;
    background-repeat: no-repeat;
}

#site-header li:nth-child(1) a {
    background-image: url('../images/nav/nav_news_blank.png');
    background-size: 55px 45px;
}

#site-header li:nth-child(2) a {
    background-image: url('../images/nav/nav_channel_blank.png');
    background-size: 60px 40px;
}

#site-header li:nth-child(3) a {
    background-image: url('../images/nav/nav_chronicles_blank.png');
    background-size: 55px 45px;
}

#site-header li:nth-child(4) a {
    background-image: url('../images/nav/nav_guides_blank.png');
    background-size: 55px 45px;
}

#site-header li:nth-child(5) a {
    background-image: url('../images/nav/nav_guild_blank.png');
    background-size: 55px 45px;
}

#site-header li:nth-child(6) a {
    background-image: url('../images/nav/nav_events_blank.png');
    background-size: 45px 45px;
}

#site-header li:nth-child(7) a {
    background-image: url('../images/nav/nav_search_blank.png');
    background-size: 47px 47px;
}

#site-header #ham-menu {
    display: none;
}


/*-------------------------------------
    Secondary navigation properties
-------------------------------------*/

#secondary-nav {
    width: 82px;
    height: 100vh;

    position: fixed;
    top: 100px;

    padding-top: 60px;

    background: linear-gradient(90deg, rgb(15, 15, 15) 0%,rgb(27, 27, 27) 40%,rgb(15, 15, 15) 100%);
    border-right: 2px solid #FFF;
    box-shadow: 3px 3px 3px rgb(189, 182, 182);

    z-index: 5;
}

#secondary-nav ul {
    margin: 0;
    padding: 0;
}

#secondary-nav li {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 80px;
    height: 65px;

    position: relative;

    margin-bottom: 20px;
    padding: 0;

    font-size: 0.8rem;
}

#secondary-nav a {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100%;

    position: relative;
    left: -80px;

    opacity: 0;

    transition: opacity .2s ease-in-out, left .1s ease-in-out;
}

#secondary-nav:hover a {
    left: 0;

    opacity: 1;
}

#secondary-nav a:visited {
    color: #FFF;
}

#secondary-nav li {
    background-position: center 2px;
    background-repeat: no-repeat;
}

#secondary-nav li:nth-child(1) {
    background-image: url('../images/nav/nav_account_blank.png');
    background-size: 40px 38px;
}

#secondary-nav li:nth-child(2) {
    background-image: url('../images/nav/nav_forum_blank.png');
    background-size: 45px 40px;
}

#secondary-nav li:nth-child(3) {
    background-image: url('../images/nav/nav_discord_blank.png');
    background-size: 40px 40px;
}

#secondary-nav li:nth-child(4) {
    background-image: url('../images/nav/nav_twitter_blank.png');
    background-size: 40px 37px;
}

#secondary-nav li:nth-child(5) {
    background-image: url('../images/nav/nav_facebook_blank.png');
    background-size: 40px 37px;
}


/*------------------------
    Footer properties
------------------------*/

#site-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25px;
    
    position: fixed;
    bottom: 0;

    background-color: rgb(231, 230, 230);
}


/*-----------------------------
    Main content properties
------------------------------*/

#content-wrapper {
    display: flex;  
    margin: 140px 40px 0 120px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    
}

aside {
    width: 380px;

    margin-left: 40px;
}

aside > div {
    width: 100%;
    height: 280px;

    margin: auto;
    margin-bottom: 15px;

    background-color: #FFF;
}

























/*-----------------------------
    Aside block properties
-----------------------------*/
/*
#main_wrapper aside
{
    min-width: 300px;
    height: 300px;

    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
/*
    position: absolute;

    right: 30px;
    top: 120px;*/
/*
    background-color: #000;
}


/*-----------------------------
    Main content properties
-----------------------------*/
/*
#main_wrapper
{
    display: flex;
    justify-content: space-around;

    height: 3000px;
}

main
{
    width: 1340px;
    height: 6000px;

    margin-top: 120px;
    margin-left: 120px;
    overflow: hidden;
}

/*-----------------------------
    Home file properties
-----------------------------*/
/*
.home_section
{
    display: flex;

    margin-bottom: 20px;
    padding-left: 5px;

    background-color: #FFF;
    border-radius: 10px;
    box-shadow: -2px 4px 4px rgb(189, 182, 182);
}

.home_miniatures
{
    display: flex;

    width: 100%;
    height: 190px;

    margin: 0;
    margin-left: -25px;
    padding-left: 110px;

    background: url('../images/home/home_arrow.png') no-repeat left;
    background-size: 85px 160px;

    overflow: hidden;
}

.home_section h2
{
    min-width: 90px;
    height: 90px;

    margin-top: 30px;

    line-height: 90px;
    text-align: center;
    color: #FFF;
    font-family: 'Goudy Italic';
    font-size: 1.3rem;

    background: linear-gradient(135deg, rgb(219, 19, 19) 0%,rgb(245, 50, 50) 50%,rgb(214, 18, 18) 100%); 
    border-radius: 50px;
}

.home_section article
{
    width: 300px;
    height: 168px;

    margin-top: 10px;
    margin-right: 30px;
    padding: 0;

    position: relative;

    border-radius: 5px;
}

.home_section article h3
{
    width: calc(100% - 15px);
    height: 22px;
    
    margin: 0;
    padding: 5px;
    padding-top: 8px;
    padding-left: 10px;

    position: absolute;
    bottom: 0;

    color: #EEE;
    font-size: 0.9rem;

    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.home_next
{
    width: 25px;
    height: 150px;

    color: #FFF;
    font-size: 2rem;
    text-align: center;
    line-height: 80px;

    position: relative;
    right: 0;

    background-color: #222;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    cursor: pointer;
}


/*-----------------------------
    Adaptive properties
-----------------------------*/
/*

@media all and (max-width: 1930px)
{
    main
    {
        width: 1100px;
    }
}

@media all and (max-width: 1630px)
{
    main
    {
        width: 880px;
    }
}

@media all and (max-width: 1365px)
{
    /*main
    {
        width: 640px;
    }*/
/*
    header li
    {
        width: 85px;

        margin-right: 10px;

        font-size: 1rem;
    }

    header li:hover
    {
        width: 83px;
    }

    #main_wrapper aside
    {
        min-width: 900px;
        height: 200px; 
    
        position: absolute;

        margin-left: 45px;
    }

    main
    {
        margin-top: 350px;
        margin-left: 80px;
    }
}

@media all and (max-width: 1150px)
{
    #nav_news
    {
        background-size: 45px 35px;
    }

    #nav_channel
    {
        background-size: 50px 30px;
    }

    #nav_chronicles
    {
        background-size: 45px 35px;
    }

    #nav_guides
    {
        background-size: 45px 35px;
    }

    #nav_guild
    {
        background-size: 45px 35px;
    }

    #nav_events
    {
        background-size: 35px 35px;
    }

    #nav_search
    {
        background-size: 37px 37px;
    }

    header li
    {
        width: 80px;

        margin-right: 0;

        font-size: 0.9rem;
    }

    header li:hover
    {
        width: 78px;
    }

    header
    {
        display: flex;

        width: 100%;
        height: 80px;
    }

    header:hover
    {
        height: 80px;
    }

    header:hover h1
    {
        padding-top: 10px;
    }

    header h1
    {
        margin-right: 3%;
    }

    header ul
    {
        margin-top: 12px;
    }

    header li
    {
        height: 60px;
    }

    header span
    {
        opacity: 1;
        
        position: inherit;
        top: 0;
    }
}

@media all and (max-width: 1135px)
{
    /*main
    {
        width: 410px;
    }*/
    /*
}

@media all and (max-width: 1060px)
{
    main
    {
        width: 800px;
    }

    .home_section article
    {
        margin-right: 8px;
    }

    .home_miniatures
    {
        padding-left: 87px;
    }

    #main_wrapper aside
    {
        min-width: 800px;
    }
}

@media all and (max-width: 1020px)
{
    /*header
    {
        display: flex;

        width: 100%;
        height: 80px;

        position: fixed;
        top: 0;
        margin: 0;
        
        background: linear-gradient(135deg, rgb(226, 23, 23) 0%,rgb(243, 38, 38) 18%,rgb(200, 11, 11) 100%);
        border-bottom: 2px solid #FFF;
        box-shadow: 0 3px 3px rgb(146, 135, 135);

        transition: height .2s ease-in-out;

        z-index: 10;
    }
*/
/*
    header h1
    {
        margin-right: 0;
        padding-top: 17px;
        padding-left: 10px;

        font-size: 2.5rem;

    }

    header:hover h1
    {
        padding-top: 17px;
    }
}

@media all and (max-width: 960px)
{
    .home_section
    {
        display: block;
        padding-left: 0;
    }

    .home_miniatures
    {
        background: none;
        padding-left: 47px;
    }

    .home_section article
    {
        margin-right: 30px;
    }

    .home_next
    {
        display: none;
    }
    main
    {
        width: 700px;
    }

    .home_section h2
    {
        width: 100%;
        height: 30px;

        margin: 0;
        margin-bottom: 5px;

        line-height: 28px;
        border-radius: 10px 10px 0 0;
    }

    #main_wrapper aside
    {
        min-width: 700px;
    }
}

@media all and (max-width: 900px)
{
    header h1
    {
        padding-top: 20px;
        padding-left: 10px;

        font-size: 2rem;

    }

    header:hover h1
    {
        padding-top: 20px;
    }
}

@media all and (max-width: 860px)
{
    header
    {
        flex-direction: column;
        align-items: center;
        height: 110px;
        background: linear-gradient(135deg, rgb(226, 23, 23) 0%,rgb(243, 38, 38) 46%,rgb(200, 11, 11) 100%);
    }

    header h1
    {
        padding-top: 5px;
    }

    header ul
    {
        padding: 0;
    }

    main
    {
        width: 600px;
    }

    body > nav
    {
        padding-top: 145px;
    }

    #main_wrapper aside
    {
        min-width: 600px;
    }

    .home_miniatures
    {
        padding-left: 40px;
    }

    .home_section article
    {
        min-width: 180px;
        margin-right: 15px;
    }

    #nav_news
    {
        background-size: 35px 25px;
    }

    #nav_channel
    {
        background-size: 40px 20px;
    }

    #nav_chronicles
    {
        background-size: 35px 25px;
    }

    #nav_guides
    {
        background-size: 35px 25px;
    }

    #nav_guild
    {
        background-size: 35px 25px;
    }

    #nav_events
    {
        background-size: 25px 25px;
    }

    #nav_search
    {
        background-size: 27px 27px;
    }

    header li
    {
        height: 52px;;
    }

    header:hover
    {
        height: 110px;
    }

    header:hover h1
    {
        padding-top: 5px;
    }

    header li
    {
        width: 70px;

        font-size: 0.8rem;
    }

    header li:hover
    {
        width: 68px;
    }

    #main_wrapper aside
    {
        top: 20px;
    }

    main
    {
        margin-top: 370px;
        margin-left: 80px;
    }
}

@media all and (max-width: 760px)
{
    main
    {
        width: 500px;
    }

    #main_wrapper aside
    {
        min-width: 500px;
    }

    .home_miniatures
    {
        padding-left: 32px;
    }

    .home_section article
    {
        min-width: 155px;
        margin-right: 10px;
    }

    .home_section article h3
    {
        height: 40px;
    }
}

@media all and (max-width: 660px)
{
    .home_section
    {
        height: 330px;
    }
    main
    {
        width: 400px;
    }

    #main_wrapper aside
    {
        min-width: 400px;
    }

    .home_miniatures
    {
        padding-left: 38px;
        overflow: visible;
        flex-wrap: wrap;
    }

    .home_section article
    {
        min-width: 180px;
        margin-right: 15px;
    }

    .home_section article h3
    {
        height: 25px;
    }
}

@media all and (max-width: 585px)
{
    .home_miniatures
    {
        padding-left: 40px;
    }

    .home_section article
    {
        min-width: 180px;
        margin-right: 15px;
    }

    #nav_news
    {
        background-size: 30px 20px;
    }

    #nav_channel
    {
        background-size: 35px 18px;
    }

    #nav_chronicles
    {
        background-size: 30px 22px;
    }

    #nav_guides
    {
        background-size: 30px 20px;
    }

    #nav_guild
    {
        background-size: 30px 20px;
    }

    #nav_events
    {
        background-size: 22px 20px;
    }

    #nav_search
    {
        background-size: 22px 22px;
    }

    header li
    {
        height: 50px;;
    }


}

@media all and (max-width: 560px)
{
    main
    {
        width: 300px;
    }
    
    #main_wrapper aside
    {
        min-width: 300px;
    }

    .home_miniatures
    {
        padding-left: 32px;
    }

    .home_section article
    {
        min-width: 140px;
        margin-right: 5px;
    }

    .home_section article h3
    {
        height: 40px;
    }
}

@media all and (max-width: 520px)
{
    header nav
    {
        display: none;
    }

    body > nav
    {
        display: none;
    }

    main, #main_wrapper aside
    {
        margin-left: 0;
    }

    header
    {
        height: 50px;
    }

    header:hover
    {
        height: 50px;
    }

    #ham_menu
    {
        display: block;

        position: absolute;
        top: 12px;
        left: 4%;

        color: #FFF;
        font-size: 1.3rem;

        background: none;
        border: none;
    }

    main, #main_wrapper aside
    {
        width: 85%;
    }

    /*.home_section article
    {
        min-width: 180px;
        margin-right: 15px;
    }*/
/*
    .home_miniatures
    {
        justify-content: center;
        padding-left: 27px;
    }
}

@media all and (max-width: 360px)
{
    .home_miniatures
    {
        overflow: hidden;
    }

    .home_section
    {
        height: 200px;
    }
}*/